<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAKAYAA!</title>
    <link rel="stylesheet" href="static/home.css">

</head>
<body>
    <div class="container">
        <div class="title">KAKAYAA</div>
        <div class="subtitle">เข้าร่วมเกม</div>
        <div class="input-container">
            <input type="text" placeholder="กรอกรหัสเข้าร่วม" class="input-field">
        </div>
        <button class="button">สร้างห้อง</button>
    </div>

    <script src="static/home.js"></script>
</body>
</html>