<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAKAYAA!</title>
    <link rel="stylesheet" href="static/home.css">

</head>
<body>
    <div class="container">
        <div class="title">KAKAYAA</div>

<!-- ช่องกรอกรหัสห้อง -->
<div class="subtitle">เข้าร่วมเกม</div>
<div class="input-container">
    <input type="text" placeholder="กรอกรหัสเข้าร่วม" class="input-field" id="room-id">
    <button onclick="joinRoom()">เข้าร่วมห้อง</button>
</div>
<p id="join-info"></p>

<!-- ปุ่มสร้างห้อง -->
<button class="button" onclick="createRoom()">สร้างห้อง</button>
<p id="room-info"></p>

    </div>

    <script src="static/home.js"></script>
    <!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>